nav ul{
    list-style: none;
    display: flex;
    gap: 60px;
}

nav a{
    text-decoration: none;
    color: black;
    font-family: Poppins, sans-serif;
    font-size: 14px;
}
body {
    font-family: "Poppins", sans-serif;
}

header{
    background-color: #fcf7f7;
    border-bottom: 1px solid #cccccc;
}

.header-logo{
    position: relative;
    left: 5px;
    top: 10px;
}

.search-box{
    float: right;
    width: 230px;          
    height: 30px;           
    padding: 0 10px;
    border-radius: 20px; 
}

.bag{
    position: absolute;
    bottom: 470px;
    right: 25px;
    width: 20px;
    height: 22px;
}

.user-icon{
   position: absolute;
    bottom: 469px;
    right: 55px;
    width: 20px;
    height: 22px; 
}

    .search{
        width: max-content;
        display: flex;
        align-items: center;
        padding: var(--padding);
        border-radius: 40px;
        background: #d4d3d3;
        transition: box-shadow 0.25s;
    }

    .search:focus-within{
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
    }

    .search-input{
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        color: #333333;
        margin-left: var(--padding);
        outline: none;
        border: none;
        background: transparent;
        width: 400px;
        height: 50px;
    }

        .search-input::placeholder,
        .search-icon{
            color: rgba(0, 0, 0, 0.5);
        }

        .Inforemacion{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer{
    width: 76%;
    padding: 40px 12%;
    background: #d9d9d9;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
}

.footer div{
    flex: 1;
}

.footer h3{
    font-size: 20px;
    margin-bottom: 12px;
}

.footer a{
    display: block;
    text-decoration: none;
    color: #333;
    margin-bottom: 6px;
}

.Info{
    flex: 1.5;
}

.SNS{
    flex: 0.6;
}

.icons{
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.icons img{
    width: 32px;
    height: 32px;
    cursor: pointer;
} 

.info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    padding: 20px 40px;
}

.maps {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.maps img {
    width: 100%;
    border-radius: 10px;
}

.info-text {
    width: 50%;
    font-family: Arial, sans-serif;
    font-size: 17px;
    line-height: 1.6;
}
