body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fafafa;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    align-items: center;
    background: white;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    background: #efebeb;
    padding: 5px 15px;
    color: white;
    border-radius: 5px;
}

nav a {
    margin: 0 12px;
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.right-side {
    display: flex;
    align-items: center;
}

.search {
    padding: 8px 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 200px;
    margin-right: 20px;
}

.icons img {
    width: 22px;
    margin-left: 10px;
}

.lang {
    margin-left: 20px;
    font-weight: bold;
}

/* BANNER */
.banner {
    display: flex;
    padding: 40px;
    background: #d8e9f8;
}

.book-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.book-grid img {
    width: 150px;
    border-radius: 5px;
}

.banner-right {
    margin-left: 40px;
    max-width: 600px;
}

.banner-right h3 {
    font-size: 18px;
}

.offer {
    margin-top: 20px;
    font-size: 25px;
}

.old-price {
    text-decoration: line-through;
    color: #444;
    margin-right: 10px;
}

.new-price {
    background: red;
    padding: 8px 15px;
    color: white;
    font-weight: bold;
    border-radius: 50px;
}

/* NEW TITLES */
.new-titles {
    padding: 40px;
}

.new-titles h2 {
    font-size: 24px;
    margin-bottom: 25px;
}

.book-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.book-card {
    background: white;
    padding: 15px;
    width: 200px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

.book-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 5px;
}

.author {
    color: #c0392b;
    font-weight: bold;
}

.price {
    font-size: 17px;
    color: black;
    font-weight: bold;
}
