nav ul{
    list-style: none;
    display: flex;
    gap: 60px;
}

nav a{
    text-decoration: none;
    color: black;
    font-family: Poppins, sans-serif;
    font-size: 14px;
}
body {
    font-family: "Poppins", sans-serif;
}

header{
    background-color: #fcf7f7;
    border-bottom: 1px solid #cccccc;
}

.header-logo{
    position: relative;
    left: 5px;
    top: 10px;
}

.search-box{
    float: right;
    width: 230px;          
    height: 30px;           
    padding: 0 10px;
    border-radius: 20px; 
}

.bag{
    position: absolute;
    top: 67px;
    right: 25px;
    width: 20px;
    height: 22px;
}

.user-icon{
   position: absolute;
    top: 67px;
    right: 55px;
    width: 20px;
    height: 22px; 
}

.fotot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 20px;
}

.fotot img{
    border-radius: 15px;
}


.footer{
    width: 76%;
    padding: 40px 12%;
    background: #d9d9d9;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
}

.footer div{
    flex: 1;
}

.footer h3{
    font-size: 20px;
    margin-bottom: 12px;
}

.footer a{
    display: block;
    text-decoration: none;
    color: #333;
    margin-bottom: 6px;
}

.Info{
    flex: 1.5;
}

.SNS{
    flex: 0.6;
}

.icons{
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.icons img{
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.book {
  width: 180px;
  text-align: center;
}

.author {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
}

.offers {
  list-style: none;
  padding: 0;
  font-size: 13px;
}

.offers li {
  background: #f2f2f2;
  margin: 4px 0;
  padding: 4px;
  border-radius: 4px;
}


