/* MAIN WRAPPER */
.login-register-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 60px 0;
}

/* WHITE ROUNDED BOX */
.form-section {
    background: #f2f2f2;
    width: 70%;
    padding: 50px 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 40px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

/* LEFT AND RIGHT BOXES */
.login-box, .register-box {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

/* INPUTS */
.login-box input,
.register-box input {
    width: 80%;
    padding: 14px;
    border: none;
    border-radius: 25px;
    margin-bottom: 18px;
    background: white;
    font-size: 15px;
    outline: none;
    box-shadow: 0 0 2px rgba(0,0,0,0.15);
}

/* CHECKBOX */
.remember {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    margin-bottom: 20px;
}

.remember input {
    width: 16px;
    height: 16px;
}

/* BUTTONS */
.btn {
    width: 40%;
    padding: 12px;
    border: none;
    background: #a30000;
    color: white;
    font-size: 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover {
    background: #7a0000;
}

/* DIVIDER LINE */
.divider {
    width: 1px;
    background: #444;
    height: 85%;
    margin: auto 0;
}
