body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* MAIN SECTION */
.propozim-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 80px 120px;
}

/* LEFT TEXT */
.left-text {
    width: 45%;
}

.left-text h1 {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 25px;
}

.left-text p {
    font-size: 18px;
    line-height: 32px;
    color: #333;
}

/* RIGHT FORM */
.right-form {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.right-form input,
.right-form textarea {
    width: 90%;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    margin-bottom: 20px;
    outline: none;
}

.right-form textarea {
    height: 140px;
    resize: none;
}

/* SEND BUTTON */
.send-btn {
    width: 35%;
    padding: 14px;
    border: none;
    background: #a30000;
    color: white;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    align-self: center;
}

.send-btn:hover {
    background: #7a0000;
}

/* FOOTER */
footer {
    background: #e6e6e6;
    padding: 35px 80px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.footer-col {
    width: 22%;
}

.footer-col h4 {
    font-size: 16px;
    margin-bottom: 12px;
    font-weight: 600;
}

.footer-col p {
    margin: 4px 0;
    color: #444;
    font-size: 15px;
}

.social img {
    width: 30px;
    margin-right: 10px;
    cursor: pointer;
}
