nav ul{
    list-style: none;
    display: flex;
    gap: 60px;
}

nav a{
    text-decoration: none;
    color: black;
    font-family: Poppins, sans-serif;
    font-size: 14px;
}
body {
    font-family: "Poppins", sans-serif;
}

header{
    background-color: #fcf7f7;
    border-bottom: 1px solid #cccccc;
}

.header-logo{
    position: relative;
    left: 5px;
    top: 10px;
}

.search-box{
    float: right;
    width: 230px;          
    height: 30px;           
    padding: 0 10px;
    border-radius: 20px; 
}

.bag{
    position: absolute;
    top: 67px;
    right: 25px;
    width: 20px;
    height: 22px;
}

.user-icon{
   position: absolute;
    top: 67px;
    right: 55px;
    width: 20px;
    height: 22px; 
}

.Teksti{
    text-align: center;
    flex: 1;
    max-width: 300px;
    margin-left: 300px;
}

.Data{
    width: 400px;           
    height: 400px;
    background-color: #eeeeee;
    border-radius: 20px;
    margin: 40px auto;
    display: flex; 
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center; 
    align-items: center;
    padding-top: 25px;
}

.Propozimi{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.form-input,
.form-input-opsional {
  width: 60%;                
  height: 45px;               
  background-color: white;    
  border: 1px solid #ccc;     
  border-radius: 27px;        
  padding: 0 15px;            
  margin-bottom: 20px;
  font-size: 16px;
  font-family: inherit; 
}

.Dergo{
    background-color: #ab0001;
    color: white;
    width: 60%;
    height: 50px;
    border-radius: 27px;
    font-size: 18px;
    margin-top: 30px;
}

.footer{
    width: 76%;
    padding: 40px 12%;
    background: #d9d9d9;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
}

.footer div{
    flex: 1;
}

.footer h3{
    font-size: 20px;
    margin-bottom: 12px;
}

.footer a{
    display: block;
    text-decoration: none;
    color: #333;
    margin-bottom: 6px;
}

.Info{
    flex: 1.5;
}

.SNS{
    flex: 0.6;
}

.icons{
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.icons img{
    width: 32px;
    height: 32px;
    cursor: pointer;
}