nav ul{
    list-style: none;
    display: flex;
    gap: 60px;
}

nav a{
    text-decoration: none;
    color: black;
    font-family: Poppins, sans-serif;
    font-size: 14px;
}
body {
    font-family: "Poppins", sans-serif;
}

header{
    background-color: #fcf7f7;
    border-bottom: 1px solid #cccccc;
}

.header-logo{
    position: relative;
    left: 5px;
    top: 10px;
}

.search-box{
    float: right;
    width: 250px;          
    height: 35px;           
    padding: 0 10px;
    border-radius: 20px; 
}

.bag{
    position: absolute;
    bottom: 470px;
    right: 25px;
    width: 20px;
    height: 22px;
}

.user-icon{
   position: absolute;
    bottom: 469px;
    right: 55px;
    width: 20px;
    height: 22px; 
}

.login-container{
    width: 900px;           
    height: 650px;
    background-color: #eeeeee;
    border-radius: 20px;
    margin: 50px auto;
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    padding-top: 40px;
}

.login-section,
.register-section {
    width: 40%; 
    text-align: center;
    padding: 0 20px; 
}


.register-section {
    border-left: 2px solid black; 
    padding-left: 40px; 
    width: 40%;
    text-align: center; 
    padding-right: 20px;
    height: 87%;
}

.form-input {
  width: 90%;                
  height: 45px;               
  background-color: white;    
  border: 1px solid #ccc;     
  border-radius: 27px;        
  padding: 0 15px;            
  margin-bottom: 20px;
  font-size: 16px;
  font-family: inherit; 
}

.login-button{
    background-color: #ab0001;
    color: white;
    width: 60%;
    height: 50px;
    border-radius: 27px;
    font-size: 18px;
    margin-top: 30px;
}

.remember-mee{
    width: 90%;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
    color: gray;
}

.register-button{
    background-color: #ab0001;
    color: white;
    width: 60%;
    height: 50px;
    border-radius: 27px;
    font-size: 18px;
    margin-top: 30px;
}